<!DOCTYPE html>
<html>
  <head>
    <title>MembersDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2><%= link_to 'Schools', schools_path %> | <%= link_to 'Members', members_path %></h2>
    <br />
    <%= notice %>
    <br />
    <%= yield %>
  </body>
</html>
