<% if @member.errors.any? %>
  <section id="errors" >
    <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for @member do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit %>
  <br />
  <br />
  Select member's schools:
  <% if @schools %>
    <%= f.collection_check_boxes(:school_ids, @schools, :id, :name) do |b| %>
      <%= b.label(class: "check-box") do %>
        <%= b.check_box %>
        <%= b.object.name %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
