<%= link_to "Edit", edit_member_path(@member), class: "edit-link" %> <%= link_to "Delete", member_path(@member), class: "delete-link", method: :delete %>
<h1><%= @member.name %></h1>
<p>Email: <%= @member.email %></p>

<div class="box-list">
  <h3>Schools</h3>
    <ul>
      <% @member.schools.order(:name).each do |school| %>
        <li><%= school.name %></li>
      <% end %>
    </ul>
</div>
